{% extends 'base.html' %}

{% block content %}
<style>
  .bulb-container {
    padding: 20px;
  }

  .bulb {
    position: relative;
    height: 80px;
  }

  .card {
    box-sizing: border-box;
    max-width: 500px;
    height: 254px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .status {
    margin-top: 10px;
  }

  /* Loading animation */
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid green;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  @media (max-width: 576px) {
    .bulb {
      height: auto;
      width: auto;
    }
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  p {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    color: #143240;
    text-align: center;
    font-size: 14px;
    font-family: Helvetica, serif;
  }

  #toggle_checkbox {
    display: none;
  }

  label {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 30px;
    margin: 0 auto;
    transform: translateY(-50%);
    cursor: pointer;
  }

  label:before {
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border: 2px solid red;
    background-color: red;
  }

  label:after {
    top: 0;
    right: 0;
    width: 60px;
    height: 30px;
    border: 2px solid #143240;
  }

  label:before,
  label:after {
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width,
      0.5s ease height, 0.5s ease border-color, 0.5s ease background-color;
  }

  input[type="checkbox"] {
    display: none;
  }

  {% for classroom in classrooms %}
  {% for bulb in classroom.bulb_set.all %}
  #toggle_checkbox{{bulb.id}}:checked + label:before {
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border-color: #143240;
    background-color: white;
  }

  #toggle_checkbox{{bulb.id}}:checked + label:after {
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    border-color: green;
    background-color: green;
  }
  {% endfor %}
  {% endfor %}
</style>

<script>
  function showLandscapePopup() {
    var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    var height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    if (width < 500 && height < 1200) {
      document.getElementById('landscape-popup').style.display = 'block';
    } else {
      document.getElementById('landscape-popup').style.display = 'none';
    }
  }

  window.addEventListener('resize', showLandscapePopup);
  window.addEventListener('load', showLandscapePopup);
</script>

<div class="my_animation">
  <p>Classrooms</p>
</div>
<br>
<br>
<br>

<div class="bulb-container">
  <div class="row row-cols-1 row-cols-md-2 mt-4">
    {% for classroom in classrooms %}
    <div class="col mb-4">
      <div class="card">
        <div class="card-header">
          <h2>{{ classroom.name }}</h2>
        </div>
        <div class="card-body">
          {% for bulb in classroom.bulb_set.all %}
          <div class="bulb">
            <h4>{{ bulb.name }}</h4>
            <form id="form-{{ bulb.id }}" method="POST" action="{% url 'update_pin' bulb.id %}">
              {% csrf_token %}
              <input type="hidden" name="pin" value="{{ bulb.pin }}">
              <input type="hidden" name="status" id="status-{{ bulb.id }}"
                value="{% if bulb.status %}on{% else %}off{% endif %}">
              <input type="hidden" name="token" value="{{ bulb.token }}">
              <input type="checkbox" id="toggle_checkbox{{bulb.id}}" onclick="toggleSwitch('{{ bulb.id }}')"
                {% if bulb.status %}checked{% endif %}>
              <label for="toggle_checkbox{{bulb.id}}"></label>
              <div class="status">
                {% for status in status_data %}
                {% if status.id == bulb.id %}
                {% if status.status == '0' %}
                {% else %}
                <div class="lds-ripple"><div></div><div></div></div>
                {% endif %}
                {% endif %}
                {% endfor %}
              </div>
            </form>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="landscape-popup">
  <div>
    <h3>Please rotate your device to landscape mode to view the page.</h3>
  </div>
</div>

<script>
  function toggleSwitch(bulbId) {
    const switchElement = document.getElementById(`status-${bulbId}`);
    const currentValue = switchElement.value;
    switchElement.value = currentValue === 'on' ? 'off' : 'on';
    document.getElementById(`form-${bulbId}`).submit();
  }

  setTimeout(function() {
    location.reload();
  }, 10000); // Refresh the page every 10 seconds (10000 milliseconds)
</script>

{% endblock %}
